@{
    ViewData["Title"] = "List Teachers";
    string[] Headers = new string[] { "Teacher Name" };
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in Headers)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var teacher in ViewBag.TeachersList)
                {
                        <tr>
                            <td>
                                @teacher
                            </td>
                        </tr>
                        }
                        }
                    
                </tbody>
    </table>
</div>
